<!-- START about.html -->
<div class="row col-xs-offset-1 col-xs-10 col-sm-10 about-container">

  <h4>What does Sumika Crafts offer?</h4>

  <p>
    Sumika Crafts passionately presents beautiful, contemporary Japanese craft, artisan objects and home decor to people worldwide.  Our selected products are all from small-sized crafts-people of different places, made by-hand, using local materials from the rich resources of their region.  They are made using traditional techniques, while improving on earlier designs.  These new design  features fit well with modern life and in this way, the traditional methods evolve.  We believe that a well-handcrafted item enriches people’s life.  Our products are for all the people who wish to cherish their life day to day.  We believe that our products match any style of home life: simple, unique yet universal.
  </p>

  <h4>Why Sumika Crafts?</h4>

  <p>
    Our ultimate purpose is to promote interest in Japan’s handmade and artisan products, to grow that industry and sustain it.
  </p>

  <p>
    Maya, the director of Sumika Crafts, grew up in Kyoto, which is regarded to be the cultural centre of Japan.  She has practiced Way of Tea from her childhood and because of this has been surrounded by genuine crafts while growing up.   She has acquired good knowledge and sensitivity towards them.  Above all, she knows the joy and richness that refined crafts brings to life.  After working as an interior decorator in Tokyo, she wants to be dedicated to her real passion, supporting craftsmanship.
  </p>

  <p>
    Historically, Kyoto supported a lot of small family businesses, but sadly these industries are in decline, shrinking dramatically in the last two decades.  The sound of Kimono weavings from a houses in the street, once a common occurrence, are not heard anymore and many of local small businesses are replaced by big chain retailers.  Many existing craftspeople from older generations are closing their businesses with their generation.
  </p>

  <p>
    By introducing the beautiful works of these craftspeople to a wider audience, we aim to inspire the users’ interest in the handmade products and the skills.  We hope that by using our products, people in Japan and other countries increase the interest toward the value of handmade goods not just in Japan, but in other countries, which are experiencing a similar decline.  This also leads to raising the young craftspersons in the next generation so that the skills and culture are preserved and enhanced.
  </p>

</div>
<!-- END about.html -->
