{{#category_rows}}
<div class="row product-line">
{{#category_cols}}
  <div class="skc-xs-remove-row-padding col-xs-12 col-sm-offset-0 col-sm-3">
    <div class="skc-product-box">
      <a href="/products/named/{{internal_name}}">
        <img class="img-thumbnail product-box-img" src="{{thumbnail.url}}"/>
      </a>
    </div>
    <div class="product-box-name">
      <a href="/products/named/{{internal_name}}"><span>{{category_name}}</span></a>
    </div>
  </div>
{{/category_cols}}
</div>
{{/category_rows}}
