<div class="row shared-footer text-center col-md-11">
  <ul class="menu-font list-inline">
    <li><a href="/terms.html">Terms &amp; Conditions</a></li>
    <li><a href="/privacy.html">Privacy Policy</a></li>
    <li><a href="mailto:contact@sumikacrafts.com">Contact Us</a></li>
  </ul>
</div>
<div class="row shared-footer text-center col-md-11">
  <span>&copy; 2015-{{footer.copyright_year}} Sumika Crafts. All Rights Reserved.</span>
</div>
