<!-- START head.html -->
<head>
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
  <title>{{head.title_prefix}} Japanese Home Decor | SumikaCrafts</title>
  <meta name="description" content="{{head.title_meta_desc}}" />
  <meta name="author" content="SumikaCrafts WebMaster" />

  <!-- Facebook Open Graph -->
  <meta property="og:title" content="{{head.title_prefix}} Japanese Handmade Crafts &amp; Home Decor | SumikaCrafts" />
  <meta property="og:url" content="{{head.title_uri}}" />
  <meta property="og:site_name" content="SumikaCrafts" />
  <meta property="article:author" content="https://www.facebook.com/sumikacrafts" />
  <!-- from http://graph.facebook.com/sumikacrafts -->
  <meta property="og:site_name" content="SumikaCrafts" />

  <!-- PInterest -->
  <meta name="p:domain_verify" content="d8b3bc2a1b07372330869b8cdf2eb13b" />

  <!-- Mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- Links -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
  <link rel="stylesheet" href="/css/app.css" />
  <link rel="icon" type="image/png" href="/pics/sumika_icon.png" />
</head>
<!-- END head.html -->
