<!-- START privacy.html -->
<div id="content" class="row col-xs-offset-1 col-xs-10 col-sm-9 about-container">
  <h3>Privacy Policy</h3>
  <p>The {{the_domain_name}} website is operated by {{the_company_name}}.</p>
  <p>
    {{the_company_name}} hosts and operates the {{the_domain_name}} website, including processing and storing all of the data collected on or through the website.
    {{the_company_name}} has created this privacy policy in order to communicate the policies and practices relating to the use and disclosure of information about you obtained on this website.
  </p>
  <p>
    Please read this Privacy Policy carefully before you use our service or you purchase products offered on this website.
    If you do not agree with the terms of this Privacy Policy, or any modifications thereto, we recommend you to not use our service.
  </p>
  <h4>Information collected on {{the_domain_name}}</h4>
  <p>
    <ul>
      <li>You may use the {{the_domain_name}} website without providing any personal information to {{the_company_name}}.</li>
      <li>You will however, need to provide certain information, including your
        <ul>
          <li>name</li>
          <li>address,</li>
          <li>telephone number,</li>
          <li>e-mail address and</li>
          <li>possibly your credit card number</li>
        </ul>
        if you purchase products offered on this website.
      </li>
    </ul>
  </p>
  <p>
    The information you provide through this website will be used for 2 purposes only.
    <ul>
      <li>to process your order and deliver it to you.</li>
      <li>to provide you with information which may be of interest to you relating to our service and new products offered on this website.</li>
    </ul>
    Your personal data shall not be disclosed to third parties for any other purposes which are not permitted by law or without your explicit consent.
  </p>
  <h4>Modifications of your personal information</h4>
  <p>
    In the event of any change of your personal information, please kindly contact customer service by clicking the hyperlink labelled “Contact Us” located at the top of the homepage.
    Please do this to keep information you have provided to the {{the_domain_name}} website up-to-date, to ensure that your orders are shipped to the correct address and that we can contact you about your order if necessary.
  </p>
  <h4>Modifications of the Privacy Policy</h4>
  <p>
    {{the_company_name}} may change or update this Privacy Policy periodically.
    A revised policy will be posted online at the {{the_domain_name}} website.
  </p>
  <h4>Security</h4>
  <p>
    {{the_company_name}} implements security measures to protect the personal information you provide against unauthorized access and use.
    <ul>
      <li>Transactions conducted on the {{the_domain_name}} website are protected by the SSL encryption system.</li>
      <li>However, please be aware that no data transmission over the Internet is 100% secure and any information disclosed online can potentially be collected and used by persons other than the intended recipient.</li>
    </ul>
  </p>
</div>
<!-- END privacy.html -->
