<!-- START social_links_list_items.html -->
<li class="skc-social-header">
  <a href="https://www.pinterest.com/sumikacrafts" target="_blank"><img src="/pics/pinterest_round_x2.png" alt="pinterest page" /></a>
</li>
<li class="skc-social-header">
  <a href="http://blog.sumikacrafts.com" target="_blank"><img src="/pics/blogger_round_x2.png" alt="blog" /></a>
</li>
<li class="skc-social-header">
  <a href="http://www.facebook.com/sumikacrafts" target="_blank"><img src="/pics/facebook_round_x2.png" alt="facebook page" /></a>
</li>
<!-- END social_links_list_items.html -->
