<div class='tos-container row col-sm-11'>
  <div class='col-xs-4 col-sm-3 col-md-2'>
    <nav role='navigation' class='tos-nav'>
      <h5>Table of Contents</h5>
      <ul class='list-unstyled'>
        <li><a href='#formation-of-purchase-agreement' ng-href='#!/terms/#formation-of-purchase-agreement'>Formation of Purchase Agreement</a></li>
        <li><a href='#transfer-of-title' ng-href='#!/terms/#transfer-of-title'>Transfer of Title</a></li>
        <li><a href='#payment' ng-href='#!/terms/#payment'>Payment</a></li>
        <li><a href='#packaging' ng-href='#!/terms/#packaging'>Packaging</a></li>
        <li><a href='#return-and-refund' ng-href='#!/terms/#return-and-refund'>Return and Refund</a></li>
        <li><a href='#pricing' ng-href='#!/terms/#pricing'>Pricing</a></li>
        <li><a href='#shipment' ng-href='#!/terms/#shipment'>Shipment</a></li>
        <li><a href='#delivery' ng-href='#!/terms/#delivery'>Delivery</a></li>
        <li><a href='#disclaimer' ng-href='#!/terms/#disclaimer'>Disclaimer</a></li>
        <li><a href='#use-of-website' ng-href='#!/terms/#use-of-website'>Use of Website</a></li>
        <li><a href='#limitations-of-liability' ng-href='#!/terms/#limitations-of-liability'>Limitations of Liability</a></li>
        <li><a href='#trademarks' ng-href='#!/terms/#trademarks'>Trademarks</a></li>
        <li><a href='#prohibited-matters' ng-href='#!/terms/#prohibited-matters'>Prohibited Matters</a></li>
        <li><a href='#intellectual-property' ng-href='#!/terms/#intellectual-property'>Intellectual Property</a></li>
        <li><a href='#privacy-policy' ng-href='#!/terms/#privacy-policy'>Privacy Policy</a></li>
        <li><a href='#acceptable-use' ng-href='#!/terms/#acceptable-use'>Acceptable Use</a></li>
        <li><a href='#termination-of-uses' ng-href='#!/terms/#termination-of-uses'>Termination of Uses</a></li>
        <li><a href='#contact-information' ng-href='#!/terms/#contact-information'>Contact Information</a></li>
      </ul>
    </nav>
  </div>

  <div class='col-xs-8 col-sm-9 col-md-10 tos-body'>
    <h4 class='tos-heading'>Website Terms and Conditions</h4>
    <h5 class='tos-heading'>Preamble</h5>
    <p>Thank you for visiting the <b>sumikacrafts.com</b> website operated by <b>SumikaCrafts</b> (the “Website”).</p>
    <p>All services provided on the Website (the “Services”) are subject to the following terms of use (the “Terms of Use”). Please read the Terms of Use and the <a href='#!/privacy'>Privacy Policy</a> carefully before using the Services. Upon your use of the Website, you will be deemed to have agreed to the Terms of Use and the Privacy Policy. If you disagree with any part of these terms and conditions, please do not use our website.</p>
    <p>We reserve the right to make revisions to the Website, the Terms of Use and the Privacy Policy at any time. If you use the Website after such revisions, you will be deemed to have agreed to the revised Website, Terms of Use and Privacy Policy. The term ‘you’ or 'the customer' refers to the user or viewer of our website.</p>

    <h5 class='tos-heading' id='formation-of-purchase-agreement' name='formation-of-purchase-agreement'>Formation of Purchase Agreement</h5>
    <p>
      If you place an order for a product on the Website, that order is an offer to purchase the product sold on the Website. No cancellation of the order is accepted after you place an order for a product on the Website. The Website (i) will send you an “order confirmation” e-mail upon receipt of your order and (ii) will send you a “shipment confirmation” e-mail upon dispatch of the product(s).</p>
    <p>Your offer to purchase the product(s) is accepted and a purchase agreement is formed when the Website sends you a “shipment confirmation” e-mail.</p>
    <p>The Website may send you a “cancellation e-mail” indicating that your order is cancelled, if any of the circumstances set forth below occur, regardless of whether an “order confirmation” email has been sent to you. Your order will be deemed cancelled upon the transmission of a “cancellation e-mail” from the Website to you.</p>
    <ol class='loweralpha'>
      <li>The product(s) you ordered is/are not available or out of stock due to unforeseen circumstances and is/are not expected to become available in the future;</li>
      <li>It becomes clear that the information you provided to the Website is inaccurate;</li>
      <li>We reasonably determine that you plan to resell the product(s) to a third party;</li>
      <li>You violated one or more of the provisions set out in the Terms of Use, or other provision/s on the Website; or</li>
      <li>We reasonably determine that it is appropriate to cancel your order.</li>
    </ol>
    <p>In the event of the Website sending you a 'cancellation e-mail' after you have made payment, the Website will promptly issue a full refund via the PayPal ('PayPal') online payment system.</p>

    <h5 class='tos-heading' id='transfer-of-title' name='transfer-of-title'>Transfer of Title</h5>
    <p>Title for the product(s) which you have purchased on the Website will be transferred to you at the moment a “shipment confirmation” e-mail is sent to you. This is also the moment when a purchase agreement is formed. With the exception of the circumstances  explained in “RETURN AND REFUND,” we will not be responsible for any loss, malfunction, damage or any other harm to the product(s) arising after the transfer of title for the product(s).</p>

    <h5 class='tos-heading' id='payment' name='payment'>Payment</h5>
    <p>You are requested to make a payment for the product(s) in advance via the PayPal payment system.</p>

    <h5 class='tos-heading' id='packaging' name='packaging'>Packaging</h5>
    <p>
      The products are packaged so as to respect the standards of transport in force, and to ensure an optimal protection of the products during their delivery. The customer should respect these same standards in the case of a product being returned. Any damage noted to a product arising from the product not being repackaged properly may lead to an only partial refund, or no refund in the event of the impossibility of resale in its state.
    </p>

    <h5 class='tos-heading' id='return-and-refund' name='return-and-refund'>Return and Refund</h5>
    <p>Upon request from the customer, the return or exchange of a product will be accepted where any defect (i.e. malfunction or damage, etc. which existed from the beginning or which occurred during shipment) is discovered as long as the product is returned to us (at our cost) within 3 days of the date of its arrival at the shipping address provided.</p>
    <p>In cases where a product is returned due to any reason attributable to the customer, return of said product will be accepted only if it is unopened and unused, and is returned (at the customer’s expense) within 3 days of the date of its arrival at the shipping address provided.</p>
    <p>When a product is returned, the amount which the customer paid to us will be refunded (Shipping fees will be deducted in cases where the product is returned for any reason attributable to the customer), but no interest will accrue with respect to the amount to be refunded by us.</p>
    <p>Please promptly check the product(s) upon its/their arrival since we will not accept the return or exchange of any product(s) after the expiration of return period.</p>

    <h5 class='tos-heading' id='pricing' name='pricing'>Pricing</h5>
    <p>JPY used in prices on the Website means Japanese Yen (&yen;).  All the products sold on the Website are priced in Japanese Yen (&yen;) only.  All prices include Japanese consumption tax.  Prices are provided for each product (or in cases where the sale price varies according to the color or pattern of the product) on our PRODUCT web page (hereinafter referred to as “PRODUCT Page”). The PRODUCT Page also provides the approximate prices (approx) of products in other currencies (hereinafter referred to as an “Approximate Price”). The Approximate Price is provided to customers for reference purposes only and are not the actual sale prices. The Approximate Price, which is updated each day, is derived by converting from the actual Japanese Yen price to the other currencies using publicly available foreign exchange rates that are updated daily.</p>

    <h5 class='tos-heading' id='delivery' name='delivery'>Delivery</h5>
    <p>The products are delivered to the address indicated by the customer on the purchase order. The customer must check the conformity of the information provided to the website in the purchase order. The website cannot be held responsible for possible errors of data entry and the consequences in terms of delay or delivery error. In this context, all expenses engaged for the reforwarding of an order will be entirely the responsibility of the customer.  Delivery is by Japan Post using their EMS service. The usual delivery time is 2 days – 8 days from dispatch of the package.  Please check the delivery time details by country defined by <a href="http://www.post.japanpost.jp/int/deli_days/ems/tokyo_en.html">Japan Post</a>.
    </p>

    <h5 class='tos-heading' id='shipment' name='shipment'>Shipment</h5>
    <p>We offer international shipment. There may be cases where tariffs, import duties or other taxes or customs fees, etc. (hereinafter referred to as “Tariffs, etc.”)  may be imposed depending on the country to which the shipment is made.  The recipient of the product(s) will be responsible for the payment of Tariffs, etc. The recipient of the product(s) is considered an importer under customs clearance procedures and will be responsible for complying with all applicable laws.</p>

    <h5 class='tos-heading' id='disclaimer' name='disclaimer'>Disclaimer</h5>
    <p>ALL INFORMATION, CONTENTS AND MATERIALS INCLUDED IN THE WEBSITE AND PRODUCTS AND SERVICES SOLD OR PROVIDED ON THE WEBSITE ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS, UNLESS OTHERWISE SPECIFIED IN WRITING.</p>
    <p>WE MAKE NO WARRANTIES OR REPRESENTATIONS OF ANY KIND, EXPRESS OR IMPLIED, (I) AS TO ITS ACCURACY, COMPLETENESS, RELIABILITY, USABILITY, RECENCY, QUALIFICATION OR FITNESS FOR PARTICULAR PURPOSE AND (II) AS TO ANY PRODUCT OR SERVICES WHICH ARE SOLD OR PROVIDED ON THE WEBSITE, UNLESS OTHERWISE SPECIFIED IN THE JAPANESE LAW, THE TERMS OF USE OR OTHER DOCUMENT PROVIDED FROM US TO YOU.</p>
    <p>SINCE WE MAKE NO WARRANTIES OR REPRESENTATIONS OF ANY KIND, EXPRESS OR IMPLIED, THAT THE PRODUCT(S) ARE APPROPRIATE OR AUTHORIZED FOR USE IN ANY COUNTRIES OTHER THAN JAPAN, IN CASES WHERE THE RECIPIENT OF THE PRODUCT(S) USES THE PRODUCT(S) IN ANY COUNTRY OTHER THAN JAPAN, PLEASE USE IT/THEM AT THE RECIPIENT’S OWN RISK.</p>

    <h5 class='tos-heading' id='use-of-website' name='use-of-website'>Use of Website</h5>
    <p>YOU SHALL USE THE WEBSITE AT YOUR OWN RISK AND WE WILL NOT BE LIABLE FOR DAMAGES OF ANY KIND ARISING FROM YOUR USE OF THE WEBSITE.</p>
    <p>WE DO NOT WARRANT THAT E-MAILS SENT TO YOU FROM THE WEBSITE OR RELEVANT SERVER ARE HARMLESS AND FREE OF VIRUSES.</p>
    <p>WE WILL NOT BE LIABLE FOR ANY DAMAGES INCURRED BY YOU FROM ANY KIND OF INTERRUPTION, DELAY OR DISCONTINUATION OF SYSTEMS OR MISSING DATA DUE TO FAILURE OF COMMUNICATION LINES OR COMPUTERS OR DUE TO UNAUTHORIZED ACCESS TO THE DATA.</p>

    <h5 class='tos-heading' id='limitations-of-liability' name='limitations-of-liability'>Limitations of Liability</h5>
    <p>IF ANY PRODUCT CAUSES YOU TO SUFFER ANY DAMAGE AND/OR LOSS AND SUCH DAMAGE AND/OR LOSS ARE ATTRIBUTABLE TO OUR INTENTIONAL MISCONDUCT OR NEGLIGENCE, WE WILL BE LIABLE UP TO THE AMOUNT EQUIVALENT TO THE SALE PRICE OF THE PRODUCT.</p>

    <h5 class='tos-heading' id='prohibited-matters' name='prohibited-matters'>Prohibited Matters</h5>
    <p>You are prohibited from conducting the following acts:</p>
    <ol class='loweralpha'>
      <li>Infringement of intellectual rights or any other rights or interests of the Website, us, users of the Website or any other third parties relating to the Website;</li>
      <li>Defamation of the Website, us, users of the Website or any other third parties relating to the Website;</li>
      <li>Any wrongful acts, including placement of orders without intention to make payments, resale of the products to a third party, use of the Website through unauthorized use of third party identity and provision of false information to the Website; or</li>
      <li>Violation of any laws applicable to you.</li>
    </ol>

    <h5 class='tos-heading' id='intellectual-property' name='intellectual-property'>Intellectual Property</h5>
    <p>All contents included in the Website, including, but not limited to, information, logos, images, illustrations, graphics, audio and video clips, flash animation and text are our properties or properties of its content suppliers and protected by the Copyright Law of Japan and any other applicable laws.</p>
    <p>By transmitting to or posting content on the Website, you will be deemed to have granted us with a non-exclusive, royalty-free and perpetual right to copy, reproduce, adapt, translate and publish such content, unless otherwise prescribed in the Website.  The Website also has rights to edit such content at its sole discretion.</p>
    <p>At the time of your transmission or posting of content on the Website, you represent and warrant to us that you have the copyright to such content and such content does not infringe on the rights of any third parties.</p>

    <h5 class='tos-heading' id='trademarks' name='trademarks'>Trademarks</h5>
    <p>PayPal is a registered trademark of PayPal, Inc.</p>

    <h5 class='tos-heading' id='privacy-policy' name='privacy-policy'>Privacy Policy</h5>
    <p>The Website handles your personal information according to the <a href='#!/privacy'>Privacy Policy</a> posted on the Website.</p>

    <h5 class='tos-heading' id='acceptable-use' name='acceptable-use'>Acceptable Use</h5>
    <p>
      You are independently responsible for complying with all applicable laws in all of your actions related of the Website and any of PayPal’s services, regardless of the purpose of the use. In addition, you must adhere to the terms of the <a href='https://www.paypal.com/webapps/mpp/ua/acceptableuse-full'>PayPal Acceptable Use Policy</a>.
    </p>

    <h5 class='tos-heading' id='termination-of-uses' name='termination-of-uses'>Termination of Uses</h5>
    <p>The Website (i) may change, suspend or discontinue all or part of the Website and Services, (ii) may impose limits on features of Website and Services which are normally available to you and (iii) may restrict your access to all or part of the Website, at its sole discretion and without notice. The Website is not liable for any damages incurred by you arising from such decisions.</p>

    <h5 class='tos-heading' id='contact-information' name='contact-information'>Contact Information</h5>
    <p>Please contact us at <a href='mailto:contact＠sumikacrafts.com'>contact＠sumikacrafts.com</a></p>

  </div>
</div>
